* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: none;
}
body {
    height: 100vh;
    width: 100vw;
    background-image: url(../img/Prancheta\ 2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    
}
header img {
    width: 11rem;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.botao {
    width: 11rem;
    height: 3rem;
    background: #d8295d;
    border: none;
    border-radius: 4rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #eddf11;
    font-weight: 900;
    margin-top: 30vh;
    transition: all 300ms ease-in-out;
    animation: pulse 1.5s ease-in-out infinite;
}
.botao:hover {
    transform: scale(1.2);
}
@keyframes pulse {
    from {
        transform: scale(1.0);
    }
    to {
        transform: scale(1.2);
    }
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1.0);
    }
}
@media (min-width: 400px) {
    body {
        background-image: url(../img/desktop.jpg);
        background-position-x: 20%;
        
    }
    .botao {
        width: 18rem;
        height: 4rem;
        font-size: 1rem;
        margin-top: 25vh;
    }
    header img {
        width: 18rem;
    }
}
@media (min-width: 1100px) {
    body {
        background-image: url(../img/desktop.jpg);
    }
    .botao {
        width: 30rem;
        height: 5rem;
        font-size: 1.5rem;
        margin-top: 25vh;
    }
    header img {
        width: 20rem;
    }
}
